@page "/"

@using System;
@using System.Net;
@using PagApis.Data;
@using Newtonsoft.Json;

<h1>Registro de vacunas</h1>

<p>Digite su cedula: <input type="text" @bind="@cedula"></p>
<button class="btn btn-info" @onclick="ValidarCedula">Buscar</button>
@if (validacion == 1)
{
    if (nombre != "")
    {
        <p>Nombre: @nombre</p>
        <p>Apellido: @apellido</p>
        <p>cedula: @cedula</p>
        <p>Fecha: @fecha</p>
        <p>Digite su Telefono: <input type="text" @bind="@cedula"></p>
        <p>Digite su cedula: <input type="text" @bind="@cedula"></p>
        <p>Digite su cedula: <input type="text" @bind="@cedula"></p>

    }
    else
    {
        <p>cedula: @cedula</p>
        <p>Digite su nombre: <input type="text" @bind="@cedula"></p>
        <p>Digite su Apellido: <input type="text" @bind="@cedula"></p>
        <p>Digite su Fecha: <input type="text" @bind="@cedula"></p>
        <p>Digite su Telefono: <input type="text" @bind="@cedula"></p>
        <p>Digite su cedula: <input type="text" @bind="@cedula"></p>
        <p>Digite su cedula: <input type="text" @bind="@cedula"></p>

    }

}
else if (validacion == 2)
{
    <p>Esta cedula no es dominicana</p>
}


@code {
    string cedula;
    int producto;
    int numeroValidacion;
    string subCedula;
    int numCedula;
    int multiplicacion;
    int sumatotal;
    string dato;
    string link = "https://api.adamix.net/apec/cedula/";
    string api;
    string json;
    string nombre = "";
    string apellido;
    string fecha;
    CedulaApiResponse res;

    int validacion;

    int[] constante = { 1, 2, 1, 2, 1, 2, 1, 2, 1, 2 };

    void ValidarCedula()
    {
        if (cedula.Length != 11)
        {
            validacion = 2;
        }
        else
        {
            try
            {
                var cedual = Int32.Parse(cedula);
            }
            catch (FormatException e)
            {
                validacion = 3;
                return;
            }


            numeroValidacion = Int32.Parse(cedula.Substring(10));
            subCedula = cedula.Substring(0, 10);

            for (int i = 0; i < subCedula.Length; i++)
            {

                numCedula = (int)Char.GetNumericValue(subCedula[i]);
                multiplicacion = numCedula * constante[i];
                dato = multiplicacion.ToString();

                int listaSuma = 0;


                for (int num = 0; num < dato.Length; num++)
                {
                    listaSuma += (int)Char.GetNumericValue(dato[num]);


                }
                sumatotal += listaSuma;

            }

            int residuo = sumatotal % 10;
            int numeroValidar = 10 - residuo;

            if (numeroValidar == numeroValidacion)
            {
                validacion = 1;
                ReadApi();
            }
            else
            {
                validacion = 2;
            }
        }
    }

    void ReadApi()
    {
        try
        {
            var cedual = Int64.Parse(cedula);
        }
        catch (FormatException e)
        {

            return;
        }

        api = link + cedula;

        json = new WebClient().DownloadString(api);

        res = JsonConvert.DeserializeObject<CedulaApiResponse>(json);

        nombre = res.Nombres;
        apellido = res.Apellido1 + " " + res.Apellido2;
        fecha = res.FechaNacimiento.Substring(0, 10);

    }
}

