@page "/"

@using System;
@using System.Net;
@using RegistroVacunas.Data;
@using Newtonsoft.Json;
@using Models
<h1>Registro de vacunas</h1>

<p>Digite su cedula: <input type="text" @bind-value="@cedula"> <button class="btn btn-primary" @onclick="ValidarCedula">Buscar</button></p>


@if (validacion == 1)
{
    if (existe == "usuarioNoexistente")
    {
        if (nombre != "")
        {
            <br />
            @if (registradoExitosamente == "si")
            {
                <p class="alert-info"> Se a registrado exitosamente</p>
            }
            <p>Nombre: @nombre</p>
            <p>Apellido: @apellido</p>
            <p>cedula: @cedula</p>
            <p>Fecha de nacimiento: @fecha</p>
            <p>Digite su Telefono: <input type="text" @bind="@telefono"></p>
            <p>
                Vacuna  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" @bind="vacuna">
                    <option selected>Vacunas</option>
                    @foreach (Dictionary<string, string> diccionario in datosVacunas)
                    {
                        <option value="@diccionario["nombre"]">@diccionario["nombre"]</option>
                    }
                </select>
            </p>
            <p>
                Provincia: <select class="form-select form-select-sm" aria-label=".form-select-sm example" @bind="provincia">
                    <option selected>Provincias</option>
                    @foreach (Dictionary<string, string> diccionario in datosProvincia)
                    {
                        <option value="@diccionario["nombre"]">@diccionario["nombre"]</option>
                    }

                </select>
            </p>
            <p>Datos acerca del centro de vacunacion</p>
            <p>Longitud: <input type="text" @bind-value="lon" />  Latitud: <input type="text" @bind-value="lat" /></p>

            <button class="btn btn-secondary" @onclick="Registrar">Registrar</button>

        }
        else
        {

            @if (registradoExitosamente == "si")
            {
                <p class="alert-info"> Se a registrado exitosamente</p>
            }
            <p>cedula: @cedula</p>
            <p>Digite su nombre: <input type="text" @bind="@nombre"></p>
            <p>Digite su Apellido: <input type="text" @bind="@apellido"></p>
            <p>Digite su Fecha: <input type="text" @bind="@fecha"></p>
            <p>Digite su Telefono: <input type="text" @bind="@telefono"></p>
            <p>
                Vacuna<select class="form-select form-select-sm" aria-label=".form-select-sm example" @bind="vacuna">
                    <option selected>Vacunado</option>
                    @foreach (Dictionary<string, string> diccionario in datosVacunas)
                    {
                        <option value="@diccionario["nombre"]">@diccionario["nombre"]</option>
                    }
                </select>
            </p>
            <p>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" @bind="provincia">
                    <option selected>Provincias</option>
                    @foreach (Dictionary<string, string> diccionario in datosProvincia)
                    {
                        <option value="@diccionario["nombre"]">@diccionario["nombre"]</option>
                    }


                </select>
            </p>
            <p>Longitud: <input type="text" @bind-value="lon" />  Latitud: <input type="text" @bind-value="lat" /></p>
            <button class="btn btn-secondary" @onclick="Registrar">Registrar</button>

        }

    }
    else if (existe == "usuarioFalta2daSDosis")
    {
        <h2>@diccionario["nombre"] @diccionario["apellido"] @diccionario["cedula"]</h2>

        <p>Telefono: @diccionario["telefono"]</p>
        <p>Provincia: @diccionario["provincia"]</p>
        <p>Fecha de nacimiento: @diccionario["fecha"]</p>

        <table class="table table-striped">
            <thead>
            <th>Vacunas</th>
            <th>Primera dosis</th>
            <th>Segunda dosis</th>
            <th></th>
            </thead>
            <tbody>
                @foreach (Dictionary<string, string> diccionario in datos)
                {
                    <tr>
                        <td>@diccionario["vacuna"]</td>
                        <td>@diccionario["dosis1"]</td>
                        <td>@diccionario["dosis2"]</td>
                    </tr>
                }

            </tbody>
        </table>

        <p>
            Vacuna  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" @bind="vacuna">
                <option selected>Vacunas</option>
                @foreach (Dictionary<string, string> diccionario in datosVacunas)
                {
                    <option value="@diccionario["nombre"]">@diccionario["nombre"]</option>
                }
            </select>
        </p>
        <button class="btn btn-secondary" @onclick="vacunar">Registrar</button>

        @if (registradoExitosamente == "si")
        {
            <p class="alert-info"> Se a registrado exitosamente</p>
        }

    }
    else if (existe == "usuarioLleno")
    {
        <p class="alert-danger">Este cliente tiene sus dos dosis</p>
        <h2>@nombre @apellido @diccionario["nombre"] @diccionario["apellido"] @cedula </h2>
        <p>Telefono: @diccionario["telefono"]</p>
        <p>Provincia: @diccionario["provincia"]</p>
        <p>Fecha de nacimiento: @diccionario["fecha"]</p>

        <table class="table table-striped">
            <thead>
            <th>Vacunas</th>
            <th>Primera dosis</th>
            <th>Segunda dosis</th>
            <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>@diccionario["vacuna"]</td>
                    <td>@diccionario["dosis1"]</td>
                    <td>@diccionario["dosis2"]</td>
                </tr>

            </tbody>
        </table>


    }
}
else if (validacion == 2)
{
    <p class="alert-danger">La cedula digitada no es dominicana</p>
}

@code {
    string existe;
    string registradoExitosamente = "no";
    registro_vacunasContext db = new registro_vacunasContext();
    Client user;

    List<Dictionary<string, string>> datosProvincia;
    List<Dictionary<string, string>> datosVacunas;

    Dictionary<string, string> diccionario = new Dictionary<string, string>();
    List<Dictionary<string, string>> datos;

    string cedula;
    int producto;
    int numeroValidacion;
    string subCedula;
    int numCedula;
    int multiplicacion;
    string lon;
    string lat;
    int sumatotal;
    string dato;
    string link = "https://api.adamix.net/apec/cedula/";
    string api;
    string json;
    string nombre = "";
    string apellido;
    string fecha;
    string telefono;
    string vacuna;
    string provincia;
    DateTime first_dosis = DateTime.Now;
    CedulaApiResponse res;

    int validacion;

    int[] constante = { 1, 2, 1, 2, 1, 2, 1, 2, 1, 2 };

    void ValidarCedula()
    {
        sumatotal = 0;
        multiplicacion = 0;
        if (cedula.Length != 11)
        {
            validacion = 2;
        }
        else
        {
            try
            {
                var cedual = Int64.Parse(cedula);
            }
            catch (FormatException e)
            {
                validacion = 3;
                return;
            }


            numeroValidacion = Int32.Parse(cedula.Substring(10));
            subCedula = cedula.Substring(0, 10);

            for (int i = 0; i < subCedula.Length; i++)
            {

                numCedula = (int)Char.GetNumericValue(subCedula[i]);
                multiplicacion = numCedula * constante[i];
                dato = multiplicacion.ToString();

                int listaSuma = 0;


                for (int num = 0; num < dato.Length; num++)
                {
                    listaSuma += (int)Char.GetNumericValue(dato[num]);


                }
                sumatotal += listaSuma;

            }

            int residuo = sumatotal % 10;
            int numeroValidar = 10 - residuo;

            if (numeroValidar == numeroValidacion)
            {
                validacion = 1;

                var queryselect = (from c in db.Client
                                   where c.Cedula == cedula
                                   group new { c } by new { c.Id } into g
                                   select new
                                   {
                                       id = g.Max(i => i.c.Id),
                                   }).Count();


                if (queryselect != 0)
                {
                    existe = "usuarioFalta2daSDosis";

                    var querymostrar = from c in db.Client
                                       join v in db.Vacunas on c.Id equals v.IdClient
                                       where c.Cedula == cedula
                                       group new { c, v } by new { c.Id } into g
                                       select new
                                       {
                                           nombre = g.Max(i => i.c.Nombre),
                                           cedula = g.Max(i => i.c.Cedula),
                                           apellido = g.Max(i => i.c.Apellido),
                                           telefono = g.Max(i => i.c.Telefono),
                                           provincia = g.Max(i => i.c.Provincia),
                                           fecha = g.Max(i => i.c.FechaNacimiento),
                                           id = g.Max(i => i.c.Id),
                                           tipovacuna = g.Max(i => i.v.Type),
                                           dosis1 = g.Max(i => i.v.FirstDosis),
                                           dosis2 = g.Max(i => i.v.SecondDosis)

                                       };
                    foreach (var i in querymostrar)
                    {
                        diccionario.Clear();
                        diccionario.Add("nombre", i.nombre);
                        diccionario.Add("cedula", i.cedula);
                        diccionario.Add("apellido", i.apellido);
                        diccionario.Add("telefono", i.telefono);
                        diccionario.Add("provincia", i.provincia);
                        diccionario.Add("fecha", i.fecha);
                        diccionario.Add("Id", i.id.ToString());
                        diccionario.Add("vacuna", i.tipovacuna);
                        diccionario.Add("dosis1", i.dosis1.ToString());
                        diccionario.Add("dosis2", i.dosis2.ToString());

                    }
                    userVacunas();

                }
                else
                {
                    existe = "usuarioNoexistente";
                    ReadApi();

                }
            }
        }

    }

    void ReadApi()
    {


        try
        {
            var cedual = Int64.Parse(cedula);
        }
        catch (FormatException e)
        {

            return;
        }

        api = link + cedula;

        json = new WebClient().DownloadString(api);

        res = JsonConvert.DeserializeObject<CedulaApiResponse>(json);

        nombre = res.Nombres;
        apellido = res.Apellido1 + " " + res.Apellido2;
        fecha = res.FechaNacimiento.Substring(0, 10);
        telefono = "";
        vacuna = "";
        provincia = "";
        registradoExitosamente = "no";

    }

    void vacunar()
    {
        DateTime? resul = null;
        int id = 0;

        var queryVacunados = from v in db.Vacunas
                             join c in db.Client on v.IdClient equals c.Id
                             where c.Cedula == cedula && v.Type == vacuna
                             group new { c, v } by new { c.Id } into g
                             select new
                             {
                                 id = g.Max(i => i.v.Id),
                                 dosis2 = g.Max(i => i.v.SecondDosis)
                             };



        foreach (var i in queryVacunados)
        {
            resul = i.dosis2;
            id = i.id;
        }

        if (resul == null && id != 0)
        {
            AgregarsecDosisVacunar();

        }
        else if (!queryVacunados.Any())
        {
            agregarprimeradosis();
        }
        else
        {
            existe = "usuarioLleno";
        }

    }

    void Registrar()
    {
        user = new Client();
        var queryselect = (from c in db.Client
                           where c.Cedula == cedula
                           group new { c } by new { c.Id } into g
                           select new
                           {
                               id = g.Max(i => i.c.Id),
                           }).Count();

        user.Cedula = cedula;
        user.Nombre = nombre;
        user.Apellido = apellido;
        user.FechaNacimiento = fecha;
        user.Telefono = telefono;
        user.Provincia = provincia;

        db.Add(user);
        db.SaveChanges();

        agregarprimeradosis();

    }

    void agregarprimeradosis()
    {
        Vacunas vacunas = new Vacunas();
        var query = from c in db.Client
                    where c.Cedula == cedula
                    group new { c } by new { c.Id } into g
                    select new
                    {
                        id = g.Max(i => i.c.Id),
                    };


        vacunas.FirstDosis = first_dosis;
        vacunas.SecondDosis = null;
        vacunas.Type = vacuna;
        vacunas.Lon = lon;
        vacunas.Lat = lat;
        var dic = new Dictionary<string, int>();
        foreach (var i in query)
        {

            dic.Add("id", i.id);
        }
        vacunas.IdClient = dic["id"];
        db.Add(vacunas);
        db.SaveChanges();
        userVacunas();

        var result = db.VacunasExistentes.SingleOrDefault(b => b.Nombre == vacuna);
        result.cantidad = result.cantidad - 1;
        db.SaveChanges();

        registradoExitosamente = "si";


    }

    void AgregarsecDosisVacunar()
    {
        Vacunas vacunas = new Vacunas();
        var queryVacuna = from c in db.Client
                          join v in db.Vacunas on c.Id equals v.IdClient
                          where c.Cedula == cedula && v.Type == vacuna
                          group new { c, v } by new { c.Id } into g
                          select new
                          {
                              id = g.Max(i => i.v.Id),

                          };
        var dic = new Dictionary<string, int>();
        foreach (var i in queryVacuna)
        {

            dic.Add("id", i.id);
        }
        var std = db.Vacunas.FirstOrDefault(i => i.Id == dic["id"]);
        std.SecondDosis = DateTime.Now;
        db.SaveChanges();
        userVacunas();

        var result = db.VacunasExistentes.SingleOrDefault(b => b.Nombre == vacuna);
        result.cantidad = result.cantidad - 1;
        db.SaveChanges();

        registradoExitosamente = "si";
    }

    void userVacunas()
    {
        datos = new List<Dictionary<string, string>>();
        var query = from c in db.Client
                    join v in db.Vacunas on c.Id equals v.IdClient
                    where c.Cedula == cedula
                    select new
                    {
                        vacuna = v.Type,
                        dosis1 = v.FirstDosis,
                        dosis2 = v.SecondDosis
                    };
        foreach (var i in query)
        {
            var dic = new Dictionary<string, string>();
            dic.Add("vacuna", i.vacuna);
            dic.Add("dosis1", i.dosis1.ToString());
            dic.Add("dosis2", i.dosis2.ToString());
            datos.Add(dic);
        }
    }

    void provincias()
    {
        datosProvincia = new List<Dictionary<string, string>>();
        var queryProvincias = from p in db.Provincias
                              select new
                              {
                                  nombre = p.Nombre
                              };

        foreach (var i in queryProvincias)
        {
            var dic = new Dictionary<string, string>();
            dic.Add("nombre", i.nombre);
            datosProvincia.Add(dic);
        }

    }

    void VacunasExistentes()
    {
        datosVacunas = new List<Dictionary<string, string>>();
        var queryVacuna = from v in db.VacunasExistentes
                          where v.cantidad != 0
                          select new
                          {
                              nombre = v.Nombre
                          };

        foreach (var i in queryVacuna)
        {
            var dic = new Dictionary<string, string>();
            dic.Add("nombre", i.nombre);
            datosVacunas.Add(dic);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        provincias();
        VacunasExistentes();
    }


}
